html * {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 100%;
	font-family: "Open Sans", sans-serif;
	color: #7f8c97;
	background-color: #e9f0f5;
}


h1 {
	font-family: 'Unica One';
	font-weight: bold;
	font-size: 30px;
	font-size: 1.7em;
	line-height: 60px;
}

h2 {
	font-size: 1.3em;
}

.hackme h2 {
	font-family: 'Unica One';
}

a {
	color: #7aadff;
	text-decoration: none;
	line-height: 1.4em;
	font-weight: bold;
}

.gk-container {
	/* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
	width: 90%;
	max-width: 1170px;
	margin: 0 auto;
}
.gk-container::after {
	/* clearfix */
	content: '';
	display: table;
	clear: both;
}

#gk-intro {
	color: white;
	padding-bottom: 10px;
	text-align: center;
	background-repeat: no-repeat;
	background-size: 100% ;
	font-size: 1.4em;
	text-shadow: 2px 2px #000000;
	min-height: 700px;
}

.index {
	background: url("../img/me_back.jpg");
}
.hackme {
	background: url("../img/hackme.jpg");
}

#gk-intro .gk-left,
#gk-intro .gk-right {
	width: 30%;
	margin: 0 auto;
	margin-left: 25px;
	padding: 15px;
	display: inline-block;
	line-height: 1.4em;
	text-align: justify;
	vertical-align: top;
}

.hackme .gk-left,
.hackme .gk-right {
	width: 35%;
}

.hackme .gk-left,
#gk-intro .gk-right {
	background: rgba(0, 0, 0, 0.5);
}

#gk-intro p:not(:last-child) {
	margin-bottom: 20px;
}

#gk-timeline {
	position: relative;
	padding: 1em 0;
	margin-top: 1em;
	margin-bottom: 1em;
}

#gk-timeline::before {
	/* this is the vertical line */
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	height: 100%;
	width: 4px;
	background: #d7e4ed;
}

.gk-timeline-block {
	position: relative;
	margin: 2em 0;

}
.gk-timeline-block:after {
	content: '';
	display: table;
	clear: both;
}
.gk-timeline-block:first-child {
	margin-top: 0;
}
.gk-timeline-block:last-child {
	margin-bottom: 0;
}
.gk-timeline-block:nth-child(even) .gk-timeline-content {
	float: right;
}
.gk-timeline-block:nth-child(even) .gk-timeline-content::before {
	top: 24px;
	left: auto;
	right: 100%;
	border-color: transparent;
	border-right-color: white;
}
.gk-timeline-block:nth-child(even) .gk-timeline-content .gk-date {
	left: auto;
	right: 122%;
	text-align: right;
}

.gk-timeline-img {
	border-radius: 50%;
	box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
	position: absolute;
	top: 0;
	width: 60px;
	height: 60px;
	left: 50%;
	margin-left: -30px;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
}

.gk-timeline-img img {
	display: block;
	width: 24px;
	height: 24px;
	position: relative;
	left: 50%;
	top: 50%;
	margin-left: -12px;
	margin-top: -12px;
}

.gk-timeline-img.gk-pub {
	background: #75CE66;
}
.gk-timeline-img.gk-talk {
	background: #3DA4CC;
}
.gk-timeline-img.gk-location {
	background: #F0CA45;
}
.gk-timeline-img.gk-code {
	background: #E69500;
}
.gk-timeline-img.gk-shieldOK {
	background: #20A805;
}
.gk-timeline-img.gk-shieldFAIL {
	background: #AD3205;
}

.gk-timeline-content {
	margin-left: 0;
	padding: 1.6em;
	width: 45%;
	position: relative;
	background: white;
	border-radius: 0.25em;
	box-shadow: 0 3px 0 #d7e4ed;
}

.gk-timeline-content:after {
	content: '';
	display: table;
	clear: both;
}

.gk-timeline-content::before {
	content: '';
	position: absolute;
	top: 24px;
	left: 100%;
	border: 7px solid transparent;
	border-right: 7px solid white;
	border-color: transparent;
	border-left-color: white;
}

.gk-timeline-content h2 a {
	color: #303e49;
}

.gk-timeline-content p {
	margin: 1em 0 0 0;
	line-height: 1.6;
}

.gk-timeline-content .gk-date {
	position: absolute;
	width: 100%;
	left: 122%;
	top: 6px;
	font-size: 16px;
	font-size: 1rem;
	padding: .8em 0;
	opacity: .5;
}


ol {
	list-style-type: decimal;
	list-style-position: inside;
	padding-left: 0;
}

ol li {
	margin-bottom: 20px;
	text-align: justify;
}

.bountyHead {
	text-align: center;
}

.bountyHead img {
	width: 40%;
}

.bounty div:last-child {
	background-color: #666666;
	width: 100%;
	padding: 10px;
	margin-top: 5px;
	font-weight: bold;
	font-size: 1.3em;
}
